body {
    background-color: wheat;
}

h1 {
    font-weight: bold;
}

.App {
    height: 80vh;
    background: lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
